{
  "parser": "@typescript-eslint/parser",
  "overrides": [
    {
      "files": ["**/*.js", "**/*.tsx"]
    }
  ],
  "globals": {
    "window": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": ["react", "i18next", "@typescript-eslint", "react-hooks"],
  "rules": {
    "react/prop-types": 0,
    "react/display-name": 0,
    "no-unused-vars": 0,
    "no-case-declarations": 0,
    "require-atomic-updates": 0, //https://github.com/eslint/eslint/commit/6e36d12d95e76022172fd0ec8a5e85c22fde6a8a
    "@typescript-eslint/no-unused-vars": 2,
    "i18next/no-literal-string": [
      1,
      {
        "ignoreComponent": ["I18nSkeleton"],
        "ignoreAttribute": [
          "path",
          "domLayout",
          "variant",
          "value",
          "controlId",
          "data-testid",
          "name",
          "as",
          "data-toggle",
          "pattern",
          "mask",
          "placement",
          "wrapWith",
          "backdrop",
          "pageName"
        ],
        "markupOnly": true
      }
    ]
  },
  "extends": [
    "plugin:react-hooks/recommended",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:react/recommended"
  ],
  "settings": {
    "react": {
      "version": "17"
    }
  }
}
